.wrapper {
	width: 300px;
	height: 300;
	font: 28px serif;
	text-align: center;	
}

.arhiv {
	width: 300px;
	height: 40px;
	border-radius: 8px 8px 0 0;
	background-color: #007854;
	color: white;
	padding-top: 5px;
}

.decabr {
	width: 300px;
	height: 40px;
	background-color: black;
	color: white;
	font: 26px sans-serif;
	padding-top: 3px;
	position: relative;
}

.number {
	width: 300px;
	height: 197px;
	background-color: #e6e6e6;
	padding-top: 15px;
}

table {
	margin: auto;
	width: 260px;
	text-align: right;
	font-size: 26px;
}

.bold {
	font-weight: bold;
}

td:hover {
	background-color: #007854;
}

.lstrelka {
	width: 0;
	height: 0;
	border-right: 14px solid #007854;
	border-top: 14px  solid transparent;
	border-bottom: 14px solid transparent;
	position: absolute;
	top: 8px;
	left: 15px;	
}

.pstrelka {
	width: 0;
	height: 0;
	border-left: 14px solid #007854;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	position: absolute;
	top: 8px;
	right: 15px;
}